* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  background-color: blue;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
-nav-logo{
  max-width: 100px;
}
.hero-banner {
  text-align: center;
  padding: 20px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-grid img {
  margin: 10px;
  width: 200px;
  max-width: calc(33% - 20px);
  height: auto;

}
section {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
img {
  height: auto;
  width: 300px;
}
.card--stats{
  display: flex;
  flex-direction: column;
}